<div class="container">

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Название продукта</th>
      <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    <% @product.each do |i| %>
    <tr>
      <td><%= i.name %></td>
      <td><%= i.price %></td>
    </tr>
    <% end %>
    </tbody>
  </table>


</div>
